<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etc.data.mapper.ZcurdHeadJsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.etc.data.entity.ZcurdHeadJs">
        <id column="id" property="id" />
        <result column="head_id" property="headId" />
        <result column="page" property="page" />
        <result column="sql_content" property="sqlContent" />
        <result column="js_content" property="jsContent" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, head_id, page, sql_content, js_content, create_time
    </sql>

</mapper>
